# Conocer el Dataset

Es importante antes de hacer cualquier analisis predictivo conocer la información de nuetsro dataset.

La función intro_dataset nos permite conocer estadistica basica de la información o el dataset que vamos a usar para hacer nuestros analisis predictivos, lo unico que tienes que hacer es pasar la ruta o el path de la ubicación de tu archuivo, con la ayuda de pandas extraemos esta información y la mostramos en pantalla.

## Introducción del contenido del dataset
### función: intro_dataset

Esta función es la encargada de proporcionarte información basica del dataset con el objetivo de conocer mejor la información antes de hacer los analasis predictivos

In [39]:
def intro_dataset(path):
    import pandas as pd
    
    data = pd.read_csv(path)
    porcentaje_nulos = (pd.isnull(data).values.ravel().sum()) / (pd.isnull(data).values.ravel().sum() + pd.notnull(data).values.ravel().sum())
    
    print('Este dataset contiene {} filas y {} columnas'.format(data.shape[0], data.shape[1]))
    print('----------------')
    print('Columnas del dataset {}'.format(data.columns.values.tolist()))
    print('----------------')
    print('Datos nulos {}'.format(pd.isnull(data).values.ravel().sum()))
    
    print('% de datos nulos: {}'.format(porcentaje_nulos))
    # borrar los valores que faltan
    print('----------------')
    print('Estadistica del dataser: \n {}'.format(data.describe()))

In [37]:
intro = intro_dataset('../Machine-Learning/usuarios.csv')
intro

Este dataset contiene 7 filas y 4 columnas
----------------
Columnas del dataset ['Nombre', 'Edad', 'Pais', 'Calor']
----------------
Datos nulos 8
% de datos nulos: 0.2857142857142857
----------------
Estadistica del dataser:
             Edad      Calor
count   4.000000   4.000000
mean   31.250000  45.000000
std    10.531698   8.981462
min    23.000000  34.000000
25%    23.000000  42.250000
50%    28.500000  45.000000
75%    36.750000  47.750000
max    45.000000  56.000000

## Limpieza de datos
### función: limpieza_datos

Ya que conocemos nuestros datos es importante limpiarlos, está función te ayudará a solo agregar la ruta del archuivo y limpiar todos los datos.

ten cuidado en la manera en como limpies los datos, en mi caso estoy usando dos criterios, para los valores tipo obj uso el promedio de la columna y para los string o cadenas uso la palabra "desconocido". Dependiendo el tipo de analisis y los requerimientos de negocio será la manera en que definas estos criterios para llenar esos campos vacios. En algunos casos es mejor colocar '0' o el numero de consecuente de la columna anterior, etc. 

Pandas tiene algunas funciones que te podrán ayudar a mejorar esta parte. para estos casos solo sustituye las siguientes variables y coloca tu logica de negocio para llenar los campos NaN.

In [40]:
def limpieza_datos(path):
    import pandas as pd

    data = pd.read_csv(path)
    columnas = data.columns.values.tolist()

    for x, i in enumerate(columnas):
        new_data = data

        if data[columnas[x]].dtypes == 'O':
            new_data_type0 = data[columnas[x]].fillna('Desconocido') 
            new_data[columnas[x]] = new_data_type0        

        else:
            new_data_type64 = data[columnas[x]].fillna(data[columnas[x]].mean())
            new_data[columnas[x]] = new_data_type64 
            
    return new_data

In [41]:
limpieza_datos('../Machine-Learning/usuarios.csv')

      Nombre   Edad         Pais  Calor
0     Carlos  23.00       Mexico   45.0
1     Arturo  45.00     Colombia   56.0
2  Alejandro  23.00    Guatemala   34.0
3    Rogelio  31.25       España   45.0
4   Gilberto  31.25  Desconocido   45.0
5      Laura  34.00       España   45.0
6     Lorena  31.25  Desconocido   45.0

In [42]:
pd.read_csv('../Machine-Learning/usuarios.csv')

      Nombre  Edad       Pais  Calor
0     Carlos  23.0     Mexico   45.0
1     Arturo  45.0   Colombia   56.0
2  Alejandro  23.0  Guatemala   34.0
3    Rogelio   NaN     España   45.0
4   Gilberto   NaN        NaN    NaN
5      Laura  34.0     España    NaN
6     Lorena   NaN        NaN    NaN