In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('../Machine-Learning/usuarios.csv')
data

      Nombre  Edad       Pais
0     Carlos  23.0     Mexico
1     Arturo  45.0   Colombia
2  Alejandro  23.0  Guatemala
3    Rogelio   NaN     Espa単a
4   Gilberto   NaN        NaN
5      Laura  34.0     Espa単a
6     Lorena   NaN        NaN

In [8]:
pd.isnull(data['Nombre'])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
Name: Nombre, dtype: bool

In [9]:
pd.isnull(data['Edad'])

0    False
1    False
2    False
3     True
4     True
5    False
6     True
Name: Edad, dtype: bool

In [10]:
pd.notnull(data['Edad'])

0     True
1     True
2     True
3    False
4    False
5     True
6    False
Name: Edad, dtype: bool